<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello <%= name %></h1>
    <p>What's up?</p>
    <% if (isTired) { %>
        <p>I am tired 😴</p>
    <% } else { %>
        <p>I am not tired at all 😎</p>
    <% } %>
    <ul>
        <% for(let i = 0; i < fruit.length; i++) { %>
            <li><%= fruit[i] %></li>
        <% } %>
    </ul>
</body>
</html>