<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/exclusivepage" method="POST" enctype="application/x-www-form-urlencoded">
        <input type="email" name="email" placeholder="Email">
        <br>
        <input type="password" name="password" placeholder="Password">
        <br>
        <br>
        <button>Login</button>
    </form>

    <% if (showError) { %>
        <p style="color: red;">Wrong username or password. Please try again!</p>
    <% } %>

</body>
</html>