<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/insert" method="GET">
        <input type="password" name="name" placeholder="Name">
        <br>
        <input type="text" name="address" placeholder="Address">
        <br>
        <input type="text" name="city" placeholder="City">
        <br>
        <select name="country">
            <option value="DE">Germany</option>
            <option value="IT">Italy</option>
            <option value="ES">Spain</option>
            <option value="PT">Portugal</option>
        </select>
        <br>
        <br>
        <button>Go!!!!!!</button>
    </form>


</body>
</html>