body {
  background-color: cornflowerblue;
}

#topMenu li {
  display: inline-block;
}

#topMenu a {
  display: block;
  padding: 20px;
  background-color: white;
  border: solid 4px green;
}

#topMenu a:hover {
  background-color: greenyellow;
}
